
<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
    <style>
      body{
        background :white;
        font-style: oblique;
        font-family: 'Times New Roman', Times, serif;
      }
    </style>
</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js"></script>
    <script type="text/javascript">
     
       var app =  angular.module('MyApp', []);
       app.directive("customTestDirective", function(){
           return{
               template: "<h1>Enjoy your journey!!!</h1>"
           };
       });
        app.controller('MyController', function ($scope, $window, $interval) {
            
            $scope.passenger = [
                
                ];
 
            $scope.Add = function () {
                //Add the new item to the Array.
                var passengers = {};
                passengers.Name = $scope.Name;
                passengers.Age = $scope.Age;
                passengers.Gender = $scope.Gender;
                passengers.Date = $scope.Date;
                passengers.Phone = $scope.Phone;
                $scope.passenger.push(passengers);
 
                //Clear the TextBoxes.
                $scope.Name = "";
                $scope.Age =  "";
                $scope.Gender = "";
                $scope.Date = "";
                $scope.Email = "";
                $scope.Phone = "";


            };
 
            $scope.Remove = function (index) {
                //Find the record using Index from Array.
                var name = $scope.passenger[index].Name;
                if ($window.confirm("Do you want to remove: " + name)) {
                    //Remove the item from Array using Index.
                    $scope.passenger.splice(index, 1);
                }
            }
            $scope.length = '';
 $scope.getLength = function() {
     $scope.length = $scope.passenger.length;
	 alert("Array Length = "+$scope.length);
 };

 });  
  
    </script>
    
    <div ng-app="MyApp" ng-controller="MyController">
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Date</th>
                <th>Phone</th>

                <th></th>
            </tr>
            <tbody ng-repeat="x in passenger | orderBy:'Name'">
                <tr>
                    <td>{{x.Name | uppercase}}</td>
                    <td>{{x.Age}}</td>
                    <td>{{x.Gender}}</td>
                    <td>{{x.Date}}</td>
                    <td>{{x.Phone}}</td>

                    <td><input type="button" ng-click="Remove($index)" value="Cancel" /></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td><input type="text" ng-model="Name" /></td>
                    <td><input type="text" ng-model="Age" /></td>
                    <td><input type="text" ng-model="Gender" /></td>
                    <td><input type="text" ng-model="Date" /></td>
                    <td><input type="text" ng-model="Phone" /></td>

                    <td><input type="button" ng-click="Add()" value="Book" /></td>
                    
                </tr>
            </tfoot>
        </table>
       

    
  
          <br>
          <button ng-click="getLength()">Number of seats booked</button>
           <p>{{length}}</p>
           <p> Total amount : {{length * 3000}}</p>
           <custom-test-directive></custom-test-directive>
         
      <br>
    </div> 
</body>
</html>